/* 全局样式 */
.el-card{
  margin-top: 20px;  
}

.el-table {
  margin: 20px 0;
}

.box-card{
  position: relative;
  top: -20px;
}
.lh40{
  line-height: 40px;
}

.tac{
  text-align: center;
}
.lh40{
  line-height: 40px;
}
.ml20{
  margin-left: 20px;
}
// 全局input宽度 
.w260{
  width: 220px!important;
}
//  全局*颜色 
.small{
  color: red;
  padding-right: 10px;
  box-sizing:border-box;
}
// 红色小图标的提示
.fuji{
  position: relative;
  .ziji{
    position: absolute;
    left: -10px;
    top: 0;
    color: red;
  }
  // font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
}
.el-input.is-disabled .el-input__inner{
  color: #000;
}
.el-textarea.is-disabled .el-textarea__inner{
  color: #000;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
}
